<div class="container-fluid">

    <div class="form-group">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
             class="form-control" #search [formControl]="searchControl">
    </div>
    <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom" >
      <agm-marker [latitude]="lat" [longitude]="lng" title="Search Center" iconUrl="../../../assets/images/pointImages/icon-6.png">
        <agm-info-window [isOpen]="false" >
          <div id="searchBox">
            <mat-form-field>
              <mat-select placeholder="Select Property Type">
                <mat-option *ngFor="let food of searchParameters" [value]="food.value">
                  {{ food.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br>


            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>

            <br>

            <mat-slider [min]="1" [max]="20" step="0.5" value="1.5" thumbLabel tickInterval="1" (change)="changeCircle(this)" #slider></mat-slider>


          </div>
        </agm-info-window>
      </agm-marker>

      <agm-circle [latitude]="lat" [longitude]="lng" [radius] = "distanceRadius"></agm-circle>

    </agm-map>

</div>
